// variables
$bg-gradient: linear-gradient(-72deg, #0c345f, #305277);
$bg-fallOff: #0c345f;

.nav-wrapper {
  background: $bg-fallOff;
  background: $bg-gradient;
}

.dropdown {
  position: relative;
}

.dropdown--content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  left: -100px;
  min-width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  & a {
    color: black;
    text-decoration: none;
    display: inline-block;

    &:focus {
      background-color: #9fa8da;
    }
  }
}

/* Change color of dropdown links on hover */
.dropdown--content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown--content {
  display: block;
}


/* === Daily rates list === */
.card__header {
  padding: 1.2em 1em;
  background: $bg-fallOff;
  background: $bg-gradient;
  color: #ddd;
}

.card--rates .card-content {
  padding-top: 14px;
  padding-bottom: 0;
}

.btn.check-rates {
  width: 100%;
}

/*  === Currency list additional styles === */
.currency-list .collection-item {

  background-color: #e8eaf665;

  &:hover {
    background-color: #9fa8da;
  }
}


.add-btn {
  background: #ff5959;
}

small,
.small {
  font-size: 80%;
  color: rgb(99, 99, 99);
}


/* === icons === */
.btn .fas {
  font-size: 100%;
}

.delete {
  color: #ef5350;
}

.update {
  color: #ffa726;
}

.alert {
  background-color: #e57373a4;
  font-weight: 300;
  display: none;
}